##################################################

# files and directories ignored

/atividade07

##################################################
#

# modulo-01

# atividade-11-e-12
/modulo-01/serei_ignorado.txt

##################################################

# modulo-02

# atividade-01
/modulo-02/atividade-01/*.zip
/modulo-02/atividade-01/*.jpeg

# atividade-02
/modulo-02/atividade-02/*.zip

# atividade-03
/modulo-02/atividade-03/*.zip
/modulo-02/atividade-03/*.jpeg

# atividade-05
/modulo-02/atividade-05/*.zip
/modulo-02/atividade-05/*.jpeg

# atividade-06
/modulo-02/atividade-06/*.zip
/modulo-02/atividade-06/*jpeg

# atividade-07
/modulo-02/atividade-07/*.jpeg
/modulo-02/atividade-07/*.zip

# atividade-08
/modulo-02/atividade-08/*.jpeg
/modulo-02/atividade-08/*.zip

# atividade-09
/modulo-02/atividade-09/*.jpeg
/modulo-02/atividade-09/*.zip

# atividade-10
/modulo-02/atividade-10/*.zip
/modulo-02/atividade-10/*.jpeg

