##################################################

# files and directories ignored

/atividade07
/atividade-11
/Desafios

##################################################
#

# modulo-01

# atividade-11-e-12
/modulo-01/serei_ignorado.txt

##################################################

# modulo-02

# atividade-01
/modulo-02/atividade-01/*.zip
/modulo-02/atividade-01/*.jpeg

# atividade-02
/modulo-02/atividade-02/*.zip

# atividade-03
/modulo-02/atividade-03/*.zip
/modulo-02/atividade-03/*.jpeg

# atividade-05
/modulo-02/atividade-05/*.zip
/modulo-02/atividade-05/*.jpeg

# atividade-06
/modulo-02/atividade-06/*.zip
/modulo-02/atividade-06/*jpeg

# atividade-07
/modulo-02/atividade-07/*.jpeg
/modulo-02/atividade-07/*.zip

# atividade-08
/modulo-02/atividade-08/*.jpeg
/modulo-02/atividade-08/*.zip

# atividade-09
/modulo-02/atividade-09/*.jpeg
/modulo-02/atividade-09/*.zip

# atividade-10
/modulo-02/atividade-10/*.zip
/modulo-02/atividade-10/*.jpeg

# atividade-11
/modulo-02/atividade-11/*.zip
/modulo-02/atividade-11/*.jpeg

# atividade-12
/modulo-02/atividade-12/*.zip
/modulo-02/atividade-12/*.jpeg

# atividade-13
/modulo-02/atividade-13/*.zip
/modulo-02/atividade-13/*.jpeg

# atividade-14
/modulo-02/atividade-14/*.zip
/modulo-02/atividade-14/*.jpeg

# atividade-15
/modulo-02/atividade-15/*.zip
/modulo-02/atividade-15/*.jpeg

# atividade-16
/modulo-02/atividade-16/*.zip
/modulo-02/atividade-16/*.jpeg

# atividade-17
/modulo-02/atividade-17/*.zip
/modulo-02/atividade-17/*.jpeg

# atividade-18
/modulo-02/atividade-18/*.zip
/modulo-02/atividade-18/*.jpeg

# atividade-19
/modulo-02/atividade-19/*.zip
/modulo-02/atividade-19/*.jpeg

# atividade-20
/modulo-02/atividade-20/*.zip
/modulo-02/atividade-20/*.jpeg

# atividade-21
/modulo-02/atividade-21/*.zip
/modulo-02/atividade-21/*.jpeg

# atividade-23
/modulo-02/atividade-23/*.zip
/modulo-02/atividade-23/*.jpeg

# atividade-24
/modulo-02/atividade-24/*.jpeg
/modulo-02/atividade-24/*.zip
