body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div {
  height: 50%;
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

label {
  font-size: 1.5rem;
}

input {
  width: 300px;
  box-sizing: border-box;
  margin: 5px 0px 10px 0px;
  font-size: 1.2rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

select {
  margin: 0px 0px 10px 0px;
}

fieldset {
  border: none;
}

button {
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.4s;
}

span {
  width: 100%;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
}
tbody {
  border-top: 1px solid black;
}

tr > th:first-child,
tr > th:last-child {
  width: 100px;
  padding: 2px;
}
